{proper_opts, [{numtests,100}, {dir, "test"}]}.

{profiles, [
  {test, [
    {plugins, [rebar3_proper]},
    {deps, [proper]}
  ]},
  {bench, [
    {project_app_dirs, ["apps/*", "lib/*", "bench/*", "."]},
    {deps, [
        {eministat,
          {git, "https://github.com/jlouis/eministat.git", {branch, "master"}}}
    ]}
  ]}
]}.

